<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortalWWW</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <!--<link href="~/lib/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />-->
    <link href="~/lib/fontello/css/fontello.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Pacifico&family=Protest+Riot&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Estonia&family=Kaushan+Script&family=Michroma&family=Unica+One&display=swap" rel="stylesheet">
    <!-- Contributions  -->
    @*    <a href="https://www.freepik.com/free-photo/lovely-newborn-asian-baby-sleeping-furry-cloth_28788857.htm#query=baby&position=3&from_view=search&track=sph&uuid=acbeeffd-af67-4146-b448-71f37041a675">Image by studioredcup</a> on Freepik
    <a href="https://www.freepik.com/free-ai-image/portrait-baby-with-big-eyes_72626417.htm#query=baby&position=40&from_view=search&track=sph&uuid=acbeeffd-af67-4146-b448-71f37041a675">Image By freepik</a>
    <a href="https://www.freepik.com/free-photo/baby-crawling-with-green-diaper_7398251.htm#query=diaper&position=18&from_view=search&track=sph&uuid=d4c5fc12-e841-469f-b83c-e16717a0792c">Image by Racool_studio</a> on Freepik*@
    @*    <a href="https://www.freepik.com/free-ai-image/close-up-new-born-baby-sleeping_94954940.htm#query=baby&position=41&from_view=search&track=sph&uuid=acbeeffd-af67-4146-b448-71f37041a675">Image By freepik</a>
    <a href="https://www.freepik.com/free-photo/baby-teddy-bear-rear-view-with-design-space_16016880.htm#query=diaper&position=3&from_view=search&track=sph&uuid=d4c5fc12-e841-469f-b83c-e16717a0792c">Image by rawpixel.com</a> on Freepik
    <a href="https://www.freepik.com/free-ai-image/close-up-new-born-baby-with-toys_94955030.htm#query=baby&position=43&from_view=search&track=sph&uuid=acbeeffd-af67-4146-b448-71f37041a675">Image By freepik</a>
    *@
</head>

<body>

    <header>
        <nav class="nav-extended grey darken-3">

            <div class="nav-wrapper" style="margin-bottom:35px; padding-top:30px;">


                <a class="brand-logo center" style="font-family:'Imperial Script'; font-size: 90px; color:antiquewhite
" @Html.ActionLink("Make a Wish", "Index", "Home") </a>
                <a class="sidenav-trigger" href="#" data-target="mobile-list">
                    <i class="material-icons blue-grey-text text-darken-4">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <!--overwriting default text colour does not work in nav, needed to be set to each <li> in <a> separately-->
                    <li><a class="amber-text text-lighten-5" href="#"><i class="material-icons" href="#">search</i></a></li>
                    <li><a class="amber-text text-lighten-5" href="#"><i class="material-icons" href="#">person</i></a></li>
                    <li><a class="amber-text text-lighten-5" href="#"><i class="material-icons" href="#">shopping_cart</i></a></li>
                </ul>
            </div>
            <div class="nav-wrapper">
                <ul class="hide-on-med-and-down">
                    <!--overwriting default text colour does not work in nav, needed to be set to each <li> in <a> separately-->
                    <li>@Html.ActionLink("WHO WE ARE", "WhoWeAre", "Home")</li>
                    @*<li><a href="#collection">PRODUKTY</a></li>*@
                    <li>@Html.ActionLink("OFFER", "Offer", "Offer")</li>
                    <li>@Html.ActionLink("OUR TEAM", "OurTeam", "Home")</li>
                    @* <li>@Html.ActionLink("DOŁĄCZ DO NAS","JobOffer","Home")</li>*@
                    <li>@Html.ActionLink("OUR SHOPS", "OurShops", "Home")</li>
                    <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
                    <li>@Html.ActionLink("CAKE CATALOG", "CakeCatalog", "Home")</li>

                    <li>
                        <a href="@Url.Action("OrderEntry", "Order")"
                           class="waves-effect waves-light btn amber lighten-5 pulse grey-text text-darken-3">
                            <i class="material-icons right">cake</i>
                            ORDER A CAKE
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <!--Sprawdzić czemu nie działa + dodać dropdown menu jak już będzie działać-->
        <ul class="sidenav" id="mobile-list">
            @*@<li><a href="#">WYSZUKIWANIE</a></li>*@
            <li><a class="blue-grey-text text-darken-4" @Html.ActionLink("WHO WE ARE", "WhoWeAre", "Home")</a></li>
            <li><a class="blue-grey-text text-darken-4" @Html.ActionLink("OFFER", "Offer", "Offer")</a></li>
            <li><a class="blue-grey-text text-darken-4">@Html.ActionLink("OUR TEAM", "OurTeam", "Home")</a></li>
            @*<li><a class="blue-grey-text text-darken-4" href="#collection">PRODUKTY</a></li>*@
            @*<li><a class="blue-grey-text text-darken-4" @Html.ActionLink("DOŁĄCZ DO NAS","JobOffer","Home")</a></li>*@
            <li><a class="blue-grey-text text-darken-4" @Html.ActionLink("OUR SHOPS", "OurShops", "Home")</a></li>
            <li><a class="blue-grey-text text-darken-4" @Html.ActionLink("CONTACT", "Contact", "Home")</a></li>
            <li><a class="blue-grey-text text-darken-4" @Html.ActionLink("CAKE CATALOG", "CakeCatalog", "Home")</a></li>
            <li><a class="blue-grey-text text-darken-4" @Html.ActionLink("ORDER A CAKE", "OrderEntry", "Order")</a></li>


        </ul>
    </header>

    <div>
        <main>
            @RenderBody()

            @await Component.InvokeAsync("BestSellers")

                @await Component.InvokeAsync("SpecialCakesCarousel")

            </div>
        </main>
    </div>
    <footer class="page-footer grey darken-3">
        <div class="container center-align">
            <h3 class="amber-text text-lighten-5">FOLLOW US</h3>
            <div class="row">

                <div class="col s12 m6 l4">
                    <h3><a class="amber-text text-lighten-5" href=" #"><i class="icon-facebook"></i></a></h3>
                </div>
                <div class="col s12 m6 l4">
                    <h3><a class="amber-text text-lighten-5" href=" #"><i class="icon-instagram"></i></a></h3>
                </div>
                <div class="col s12 m6 l4">
                    <h3><a class="amber-text text-lighten-5" href=" #"><i class="icon-youtube"></i></a></h3>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <section id="info">
                    @await Component.InvokeAsync("FooterShopInfo")

                    <div class="col s12 m6 l3 ">
                        <h5 style="padding:15px;">About Us</h5>
                        <nav class="grey darken-3" style="box-shadow:none">
                            <div>
                                <ul>
                                    <li>@Html.ActionLink("Who We Are", "WhoWeAre", "Home")</li>
                                    <br />
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    <br />
                                    <li>@Html.ActionLink("Our Shops", "OurShops", "Home")</li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <div class="col s12 m6 l3 ">
                        <h5 style="padding:15px;">Policies</h5>
                        <nav class="grey darken-3" style="box-shadow:none">
                            <div>
                                <ul>
                                    <li>@Html.ActionLink("Legal Notice", "LegalNotice", "Home")</li>
                                    <br />
                                    <li>@Html.ActionLink("Privacy Policy", "Privacy", "Home")</li>
                                    <br />
                                    <li>@Html.ActionLink("Cookies Policy", "CookiesPolicy", "Home")</li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </section>

                <div class="col s12 m6 l3" style="padding:15px;">
                    <img src="/img/karta-duzej-rodziny.png" alt="Honorujemy Kartę Dużej Rodziny" />

                </div>
            </div>
        </div>
        <div class="footer-copyright grey-darken-4">
            <div class="container center-align">
                &copy; 2026 All Set Up. All rights reserved.
            </div>

        </div>
    </footer>
    <!--  Scripts-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script>
        $(document).ready(function () {

            $('.sidenav').sidenav();
            $('.parallax').parallax();
            $('.carousel').carousel();

            function setHeroHeight() {
                if (window.innerWidth <= 600) {
                    $('.parallax-container.hero').css('height', '220px');
                }
                else if (window.innerWidth <= 992) {
                    $('.parallax-container.hero').css('height', '300px');
                }
                else {
                    $('.parallax-container.hero').css('height', '360px');
                }
            }

            setHeroHeight();
            $(window).on('resize', setHeroHeight);

        });
    </script>

</body>
</html>
