@model PortalWWW.Models.PageContentViewModel

@{
    ViewData["Title"] = Model.Header;
}

<div class="parallax-container hero">
<div class="parallax">
    <img src="@Url.Content(Model.HeroImagePath ?? "~/img/default-hero.jpg")"
         alt="@Model.HeroImageAlt" />
</div>
</div>

<h1 class="center blue-grey-text text-darken-4" style="margin-top:30px;">
    @Model.Header
</h1>

<div class="container blue-grey-text text-darken-4"
     style="text-align:justify; margin-bottom:40px;">

    @foreach (var item in Model.Sections)
    {
        <div class="content-block" style="margin-bottom:25px;">
            @if (!string.IsNullOrWhiteSpace(item.Title))
            {
                <h5>@item.Title</h5>
            }
            <p>@item.Content</p>
        </div>
    }

</div>
