@model PortalWWW.Models.OurTeamPageViewModel

@{
    ViewData["Title"] = Model.Header;
}

<div class="parallax-container hero">
    <div class="parallax">
        <img src="@Url.Content(Model.HeroImagePath ?? "~/img/default-hero.jpg")"
             alt="@Model.HeroImageAlt" />
    </div>
</div>

<h1 class="center blue-grey-text text-darken-4">
    @Model.Header
</h1>

<div class="container center">

    @for (int i = 0; i < Model.Members.Count; i++)
    {
        var member = Model.Members[i];
        var isEven = i % 2 == 0;

        <div class="row">
            <div class="col s12 m6 @(isEven ? "offset-m1" : "offset-m5")">
                <div class="card-panel @(isEven ? "amber lighten-3" : "grey darken-3")">
                    <div class="row valign-wrapper">

                        <div class="col s12 l6">
                            <img src="@Url.Content(member.ImageUrl ?? "~/img/default-person.jpg")"
                                 alt="@member.ImageAlt"
                                 class="circle responsive-img" />
                        </div>

                        <div class="col s12 l6">
                            <h2 class="@(isEven ? "blue-grey-text text-darken-4" : "amber-text text-lighten-4")">
                                @member.Name
                            </h2>

                            <p class="@(isEven ? "" : "amber-text text-lighten-4")">
                                @member.Description
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }

</div>
