@model PortalWWW.Models.WhoWeArePageViewModel

@{
    ViewData["Title"] = Model.Header;
}

<div class="parallax-container hero">
    <div class="parallax">
        <img src="@Url.Content(Model.HeroImagePath ?? "~/img/default-hero.jpg")"
             alt="@Model.HeroImageAlt" />
    </div>
</div>

<h1 class="center blue-grey-text text-darken-4">
    @Model.Header
</h1>

<section class="container section">

    @for (int i = 0; i < Model.Sections.Count; i++)
    {
        var item = Model.Sections[i];
        var isEven = i % 2 == 0;

        <div class="row @(isEven ? "amber lighten-3" : "")">

            @if (isEven)
            {
                <div class="col s12 l5">
                    <img src="@Url.Content(item.ImageUrl ?? "~/img/default-section.jpg")"
                         alt="@item.ImageAlt"
                         class="responsive-img" />
                </div>
            }

            <div class="col s12 l6 @(isEven ? "offset-l1" : "")">
                <h4 class="blue-grey-text text-darken-4">
                    @item.Title
                </h4>

                <p style="text-align:justify">
                    @item.Body
                </p>
            </div>

            @if (!isEven)
            {
                <div class="col s12 l5 offset-l1">
                    <img src="@Url.Content(item.ImageUrl ?? "~/img/default-section.jpg")"
                         alt="@item.ImageAlt"
                         class="responsive-img" />
                </div>
            }

        </div>
    }

</section>


   
